.container {
  width: 90% !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  background-image: url('@assets/imgs/welcome.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  img {
    margin: -175px 0 0 0;

    @media (max-width: 580px) {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 450px) {
      width: 70%;
      height: 70%;
      margin: -85px 0 0 0;
    }
  }

  &__info {
    border: 1px solid #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font: $welcomeInfoFont;
    }

    span:first-child {
      margin: 0 0 7px 0;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin: 0 20px;
      word-break: break-all;
    }
  }

  & > .container {
    flex-direction: row;
    padding: 120px 0 50px 0;

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__refs {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    & > input[type="button"] {
      width: 60%;
      margin: 0 35px 0 0;

      @media (max-width: 1000px) {
        width: 100%;
        margin: 0 0 15px 0;
      }
    }

    & > a {
      color: #FFF;
      font: $defaultContentFont;
    }
  }

  &__title {
    margin: 0 0 25px 0;
  }
}

.content-title {
  margin: 0 0 35px 0;

  @media (max-width: 860px) {
    text-align: center;
  }
}

.about-coin {
  & > .container {
    flex-direction: row;
    padding: 60px 0;

    & > img {
      @media (max-width: 860px) {
        display: none;
      }
    }

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 25px 0 0;

    @media (max-width: 860px) {
      padding: 0;
    }
  }

  &__bottom {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 460px) {
      flex-direction: column;
      align-items: start;
    }

    & > .title-line__short {
      margin: 0 25px 0 0;

      @media (max-width: 460px) {
        margin: 0 0 25px 0;
      }
    }
  }
}

.functions {
  & > .container {
    flex-direction: row;
    padding: 60px 0;

    & > img {
      @media (max-width: 860px) {
        display: none;
      }
    }

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  &__steps {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 860px) {
      flex-direction: column;
    }
  }

  &__step {
    flex: 1;
    padding: 0 55px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @media (max-width: 860px) {
      padding: 0;
      margin: 0 0 35px 0;

      &:last-child {
        margin: 0;
      }
    }

    img {
      margin: 0 0 12px 0;
    }

    h3 {
      text-align: left;
      margin: 0 0 25px 0;
    }
  }
}

.tokenomics {
  & > .container {
    flex-direction: row;
    padding: 60px 0;

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  p {
    margin: 0 0 25px 0;
  }

  .tokenomics__main-percentage span, .tokenomics__secondary-percentage span {
    display: block;
    width: 60px;
    font: $defaultNumberAccentFont;
    margin: 0 0 20px 0;
  }

  .tokenomics__main-percentage, .tokenomics__secondary-percentage {
    width: 100%;
    border: 2px solid transparent;
    cursor: default;
  }

  .tokenomics__main-percentage:nth-child(1) span { border-top: 4px solid #FF78FF; }
  .tokenomics__main-percentage:nth-child(1) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #FF78FF; }
    &:hover { border-color: #FF78FF; }
  }

  .tokenomics__main-percentage:nth-child(2) span { border-top: 4px solid #32E49F; }
  .tokenomics__main-percentage:nth-child(2) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #32E49F; }
    &:hover { border-color: #32E49F; }
  }

  .tokenomics__main-percentage:nth-child(3) span { border-top: 4px solid #4A82FF; }
  .tokenomics__main-percentage:nth-child(3) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #4A82FF; }
    &:hover { border-color: #4A82FF; }
  }

  .tokenomics__secondary-percentage:nth-child(1) span { border-top: 4px solid #FF78FF; }
  .tokenomics__secondary-percentage:nth-child(1) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #FF78FF; }
    &:hover { border-color: #FF78FF; }
  }

  .tokenomics__secondary-percentage:nth-child(2) span { border-top: 4px solid #14C8CB; }
  .tokenomics__secondary-percentage:nth-child(2) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #14C8CB; }
    &:hover { border-color: #14C8CB; }
  }

  .tokenomics__secondary-percentage:nth-child(3) span { border-top: 4px solid #32E49F; }
  .tokenomics__secondary-percentage:nth-child(3) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #32E49F; }
    &:hover { border-color: #32E49F; }
  }

  .tokenomics__secondary-percentage:nth-child(4) span { border-top: 4px solid #4A82FF; }
  .tokenomics__secondary-percentage:nth-child(4) {
    border-color: transparent;
    @media (max-width: 860px) { border-color: #4A82FF; }
    &:hover { border-color: #4A82FF; }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  &__main-percentages, &__secondary-percentages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 0 40px 0;

    @media (max-width: 860px) {
      flex-direction: column;
    }
  }

  &__main-percentage, &__secondary-percentage {
    flex: 1;
    margin: 0 55px 0 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @media (max-width: 860px) {
      margin: 0 0 35px 0;

      &:last-child {
        margin: 0;
      }
    }

    img {
      margin: 0 0 12px 0;
    }

    h3 {
      text-align: left;
      margin: 0 0 25px 0;
    }
  }
}

.skg {
  & > .container {
    flex-direction: row;
    padding: 60px 0;

    & > img {
      @media (max-width: 860px) {
        display: none;
      }
    }

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 712px;
      height: 364px;
      margin: 0 0 30px 0;

      @media (max-width: 860px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.links {
  & > .container {
    flex-direction: row;
    padding: 60px 0;

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    span {
      margin: 0 0 40px 0;
      text-align: left;
    }

    img {
      width: 712px;
      height: 364px;
      margin: 0 0 30px 0;

      @media (max-width: 860px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1300px) {
      justify-content: start;
    }

    @media (max-width: 860px) {
      flex-direction: column;
    }

    & > img {
      width: 30%;
      height: 30%;

      @media (max-width: 860px) {
        width: 66%;
        height: 66%;
        margin: 0 0 50px 0;
      }

      @media (min-width: 1300px) {
        width: auto;
        height: auto;
        margin: 0 50px 50px 0;
      }
    }

    & > img:last-child {
      @media (max-width: 860px) {
        margin: 0;
      }
    }
  }
}

.road-map {
  & > .container {
    flex-direction: row;
    padding: 60px 0;

    @media (max-width: 860px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 860px) {
      flex-direction: column;
    }
  }

  &__col {
    flex: 1;
    padding: 0 30px 0 0;

    @media (max-width: 860px) {
      width: 100%;
      padding: 0;
      margin: 0 0 30px 0;
    }

    & > .gradient-border {
      margin: 0 0 30px 0;

      &:last-child {
        margin: 0;
      }
    }

    &:last-child {
      padding: 0;
    }
  }
}

.devs {
  & > .container {
    flex-direction: column;
    padding: 30px 0;

    @media (max-width: 860px) {
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 860px) {
      flex-direction: column;
    }
  }

  &__col {
    flex: 1;
    padding: 0 120px 0 0;

    @media (max-width: 860px) {
      width: 100%;
      padding: 0;
      margin: 0 0 30px 0;
    }

    & > .gradient-border {
      margin: 0 0 30px 0;

      &:last-child {
        margin: 0;
      }
    }

    &:last-child {
      padding: 0;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      margin: 0 40px 0 0;

      @media (max-width: 500px) {
        margin: 0 0 20px 0;
      }
    }

    &:first-child {
      margin: 0 0 40px 0;
    }
  }

  &__info {
    width: 100%;

    h3 {
      margin: 0 0 20px 0;
      font: $devTitle;
    }

    & > .title-line__full {
      margin: 0 0 20px 0;
    }
  }
}

.cg-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px 0;

  img {
    @media (max-width: 360px) {
      width: 80%;
      height: 80%;
    }
  }
}