.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 42px;
    height: 42px;
    margin: 0 0 0 15px;
    cursor: pointer;

    &:first-child {
      margin: 0;
    }
  }
}