.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a > img {
    width: 42px;
    height: 42px;
    margin: 0 0 0 15px;
    cursor: pointer;
  }

  a:first-child > img {
    margin: 0;
  }
}