$primary: #00082A;
$bodyBackground: #00082A;
$menuGradient: linear-gradient(180deg, #00082A 0%, rgba(0, 8, 42, 0.37) 100%);
$menuGradientReverse: linear-gradient(360deg, #00082A 0%, rgba(0, 8, 42, 0.37) 100%);
$titleLineGradient: linear-gradient(90deg, #FF79FF, #06D1D5);
$borderGradient: linear-gradient(90deg, #FF79FF, #06D1D5);

$defaultContentFont: 16px 'Girloy Regular';
$defaultSectionTitleFont: 32px 'Girloy Bold';
$defaultSubTitleFont: 24px 'Girloy Semibold';
$defaultNumberAccentFont: 34px 'Girloy Bold';

$welcomeInfoFont: 18px 'Girloy Regular';
$roadMapTitleFont: 32px 'Girloy Bold';
$roadMapContentFont: 16px 'Girloy Regular';
$devTitle: 24px 'Girloy Bold';